* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
    font-family: "arial";
    /* overflow-x: ; */
}

#page {
    display: flex;
}

#left {
    width: 50%;
    height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #913f92;
}

#right {
    width: 50%;
    height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column; 
    align-items: center;
    /* gap: 200px; */
    
}

#t-area {
    box-shadow: 10px 10px 10px black;
}

#btn {
    /* margin-top: 2rem;
    margin-right: 4rem;
    height: 2.5rem;
    width: 5rem;
    font-size: 1rem;
    border-radius: 1rem;
    cursor: pointer; */

    height: 3rem;
    width: 6rem;
    border-radius: 10%;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border: 2px solid #3abff8;
    background-color: rgb(69, 69, 100);
    color: #000101;
    transition: all 0.2s;
    cursor: pointer; 
     margin-top: 2rem;
    margin-right: 4rem;
    color: #FFF;
}

#btn:hover {
    transform: translateX(-6px);
    background-color: #08909c;
    color: white;
}

#show-notes {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 90vh;
    width: 95%;
}

/* #remove-text {
    position: absolute;
    top: 18rem;
    left: 10rem;
}

h1 {
    position: absolute;
    top: 1rem;
    left: 12rem;
} */

#remove-text {
    padding-top: 200px;
    color: rgb(0, 0, 0);
    animation: slideLeft 2.5s ease-in-out 2s infinite normal both;

    transform: translateX(-50px);
}

@keyframes slideLeft {
    from {
        transform: translateX(-150px);
    }
    to {
        transform: rotateX(0);
    }
}
